@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #080808;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "paragraph";
  src: url("/fonts/SEGOEUI_regular.TTF");
}

@font-face {
  font-family: "header";
  src: url("/fonts/SEGOEUISL_semilight_regular.TTF");
}

/* In your css file where you want to use the font */
a {
  color: inherit;
  text-decoration: none;
}

.paragraph-font {
  font-family: "paragraph";
}

.header-font {
  font-family: "header";
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.social-media {
  display: flex;
}

@media (max-width: 300px) {
  .pacifico {
    display: none;
  }
}

@media (max-width: 640px) {
  .social-media {
    display: none;
  }
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #000000;
  overflow: hidden;
}

.background span {
  width: 4vmin;
  height: 4vmin;
  border-radius: 4vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 32;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: #f9f348;
  top: 95%;
  left: 100%;
  animation-duration: 150s;
  animation-delay: -52s;
  transform-origin: -5vw -9vh;
  box-shadow: 8vmin 0 1.3318914754629934vmin currentColor;
}
.background span:nth-child(1) {
  color: #f9f348;
  top: 44%;
  left: 4%;
  animation-duration: 34s;
  animation-delay: -76s;
  transform-origin: -9vw -3vh;
  box-shadow: 8vmin 0 1.6649926405683604vmin currentColor;
}
.background span:nth-child(2) {
  color: #ffffff;
  top: 39%;
  left: 40%;
  animation-duration: 82s;
  animation-delay: -166s;
  transform-origin: -15vw -14vh;
  box-shadow: -8vmin 0 1.1816654315778479vmin currentColor;
}
.background span:nth-child(3) {
  color: #dbc329;
  top: 79%;
  left: 98%;
  animation-duration: 110s;
  animation-delay: -22s;
  transform-origin: 4vw -24vh;
  box-shadow: -8vmin 0 1.9371493324074405vmin currentColor;
}
.background span:nth-child(4) {
  color: #f9f348;
  top: 30%;
  left: 54%;
  animation-duration: 6s;
  animation-delay: -75s;
  transform-origin: -3vw -7vh;
  box-shadow: 8vmin 0 1.7337595826181114vmin currentColor;
}
.background span:nth-child(5) {
  color: #ffffff;
  top: 75%;
  left: 67%;
  animation-duration: 114s;
  animation-delay: -86s;
  transform-origin: 12vw -1vh;
  box-shadow: -8vmin 0 1.6622114665083254vmin currentColor;
}
.background span:nth-child(6) {
  color: #dbc329;
  top: 73%;
  left: 13%;
  animation-duration: 33s;
  animation-delay: -14s;
  transform-origin: 12vw -23vh;
  box-shadow: -8vmin 0 1.3621039284073309vmin currentColor;
}
.background span:nth-child(7) {
  color: #f9f348;
  top: 92%;
  left: 33%;
  animation-duration: 116s;
  animation-delay: -159s;
  transform-origin: -11vw 22vh;
  box-shadow: 8vmin 0 1.4557547393974066vmin currentColor;
}
.background span:nth-child(8) {
  color: #ffffff;
  top: 33%;
  left: 75%;
  animation-duration: 69s;
  animation-delay: -1s;
  transform-origin: -5vw -11vh;
  box-shadow: 8vmin 0 1.67373937811446vmin currentColor;
}
.background span:nth-child(9) {
  color: #ffffff;
  top: 14%;
  left: 42%;
  animation-duration: 103s;
  animation-delay: -46s;
  transform-origin: -16vw -7vh;
  box-shadow: -8vmin 0 1.772195810365361vmin currentColor;
}
.background span:nth-child(10) {
  color: #ffffff;
  top: 47%;
  left: 97%;
  animation-duration: 60s;
  animation-delay: -38s;
  transform-origin: -2vw 16vh;
  box-shadow: -8vmin 0 1.602478999278503vmin currentColor;
}
.background span:nth-child(11) {
  color: #ffffff;
  top: 38%;
  left: 74%;
  animation-duration: 52s;
  animation-delay: -124s;
  transform-origin: -2vw 5vh;
  box-shadow: -8vmin 0 1.3293233751816391vmin currentColor;
}
.background span:nth-child(12) {
  color: #ffffff;
  top: 6%;
  left: 44%;
  animation-duration: 96s;
  animation-delay: -74s;
  transform-origin: 15vw 1vh;
  box-shadow: 8vmin 0 1.2859811797578626vmin currentColor;
}
.background span:nth-child(13) {
  color: #f9f348;
  top: 57%;
  left: 58%;
  animation-duration: 112s;
  animation-delay: -32s;
  transform-origin: 8vw -23vh;
  box-shadow: -8vmin 0 1.522975940994551vmin currentColor;
}
.background span:nth-child(14) {
  color: #f9f348;
  top: 80%;
  left: 69%;
  animation-duration: 128s;
  animation-delay: -72s;
  transform-origin: 22vw 7vh;
  box-shadow: -8vmin 0 1.7956443436683727vmin currentColor;
}
.background span:nth-child(15) {
  color: #f9f348;
  top: 41%;
  left: 22%;
  animation-duration: 119s;
  animation-delay: -39s;
  transform-origin: -24vw -11vh;
  box-shadow: -8vmin 0 1.2857178511538616vmin currentColor;
}
.background span:nth-child(16) {
  color: #f9f348;
  top: 100%;
  left: 64%;
  animation-duration: 126s;
  animation-delay: -97s;
  transform-origin: 21vw 14vh;
  box-shadow: 8vmin 0 1.0519859949247137vmin currentColor;
}
.background span:nth-child(17) {
  color: #f9f348;
  top: 40%;
  left: 20%;
  animation-duration: 74s;
  animation-delay: -52s;
  transform-origin: -13vw 21vh;
  box-shadow: 8vmin 0 1.1053576233204538vmin currentColor;
}
.background span:nth-child(18) {
  color: #ffffff;
  top: 82%;
  left: 59%;
  animation-duration: 101s;
  animation-delay: -108s;
  transform-origin: 17vw 22vh;
  box-shadow: 8vmin 0 1.6797547984431267vmin currentColor;
}
.background span:nth-child(19) {
  color: #f9f348;
  top: 35%;
  left: 53%;
  animation-duration: 180s;
  animation-delay: -72s;
  transform-origin: 6vw 19vh;
  box-shadow: -8vmin 0 1.6987369014133682vmin currentColor;
}
.background span:nth-child(20) {
  color: #f9f348;
  top: 46%;
  left: 31%;
  animation-duration: 104s;
  animation-delay: -133s;
  transform-origin: -7vw -15vh;
  box-shadow: 8vmin 0 1.3398694092859385vmin currentColor;
}
.background span:nth-child(21) {
  color: #dbc329;
  top: 38%;
  left: 30%;
  animation-duration: 121s;
  animation-delay: -38s;
  transform-origin: 3vw -12vh;
  box-shadow: -8vmin 0 1.7965941432397334vmin currentColor;
}
.background span:nth-child(22) {
  color: #ffffff;
  top: 4%;
  left: 96%;
  animation-duration: 149s;
  animation-delay: -37s;
  transform-origin: -8vw 21vh;
  box-shadow: 8vmin 0 1.3924343382849271vmin currentColor;
}
.background span:nth-child(23) {
  color: #dbc329;
  top: 54%;
  left: 42%;
  animation-duration: 111s;
  animation-delay: -144s;
  transform-origin: -18vw 7vh;
  box-shadow: -8vmin 0 1.4784837690693453vmin currentColor;
}
.background span:nth-child(24) {
  color: #dbc329;
  top: 72%;
  left: 19%;
  animation-duration: 68s;
  animation-delay: -52s;
  transform-origin: 2vw -6vh;
  box-shadow: 8vmin 0 1.2722186534981745vmin currentColor;
}
.background span:nth-child(25) {
  color: #dbc329;
  top: 80%;
  left: 10%;
  animation-duration: 152s;
  animation-delay: -8s;
  transform-origin: -24vw 4vh;
  box-shadow: -8vmin 0 1.628573203512024vmin currentColor;
}

.sticker {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-size: 25px;
}
